
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link  type="text/css" rel="stylesheet" href="styles.css">
</head>
  <body>
    <%- include('partials/header',{username:username}) %>
    <h2>About</h2>
            <p>This is the about page. We are a team of developers who love to create useful applications.</p>
</body>
 
</html>