
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link  type="text/css" rel="stylesheet" href="styles.css">
</head>
  <body>
    <%- include('partials/header',{username:username}) %>
    <h2>Contact</h2>
    <p>Contact us through email at contact@example.com or by phone at +1 234 567 890.</p>
</body>
 
</html>