* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 20px;
}

#main-container {
    display: flex;
    gap: 40px;
    width: 100vw;
    max-width: 100%;
}
.left-container, .right-container{
    width: 47%;
    float: left;
    background-color: #f1f1f1;
    border-radius: 1rem;
    max-width: 100%;
   
}

.left-container {
    background-color: #F1F1F1;
    border-radius: 1rem;
   
    max-width: 100%;
}

.heading {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

li {
    list-style: none;
    width: 100%;
    margin-left: 20px;
    display: inline;
    font-size: 30px;
}

.tasksList {
    display: flex;
    flex-direction: column;
}
button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: red;
    margin-left: 16px;
    padding: 5px;
    cursor: pointer;
}
.checkbox {
    float: right;
    margin-right: 50px;
    margin-top: 20px;

}
.right-container {
    max-width: 100%;
    margin-top: 20px;
}
#prioritySelector{
    margin-left: 20px;
}
.priority{
    margin-left: 20px;
    font-size: 20px;
}
#userInput{
    width: 100%;
    height: 100%;
    font-size: 70px;
    padding: 10px;
    padding-bottom: 30px;
    font-weight: bold;
    color: rgb(122, 121, 121);
    outline: none;
    border: none;
    display: inline;
}

.todo-checked {
    text-decoration: line-through;
}

@media only screen and (max-width: 768px) {
    #main-container {
        flex-direction: column-reverse;
    }

    .left-container {
        width: 100%;
    }

    .right-container {
        width: 100%;
    }

    .right-container> input {
        font-size: 60px;
    }
}